version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6380:6379"

  spring-app:
    build: .
    container_name: redis-spring-app
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
